:root {
  --bg-color: #051c2c;
  --inner-circle-blue: #00a9f4;
}

.App {
  text-align: center;
}

body {
  font-size: 16px;
  background-color: var(--bg-color);
}

.button-container {
  margin: 50px;
}

.menu-button {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 15px 30px 15px 30px;
}

.menu-button:focus {
  color: var(--bg-color);
  background-color: white;
}

.outer-circle-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 20px 20px;
  justify-content: center;
}

.outer-circle {
  height: 166px;
  width: 166px;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  text-align: center;
  line-height: 166px;
  position: relative;
}

.empty {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: all 1s ease;
}

.smallest {
  width: 38px;
  height: 38px;
  background-color: var(--inner-circle-blue);
  border-radius: 50%;
  opacity: 0.2;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -19px 0px 0px -19px;
  transition: all 1s ease;
}

.small {
  width: 79px;
  height: 79px;
  background-color: var(--inner-circle-blue);
  border-radius: 50%;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -39.5px 0px 0px -39.5px;
  transition: all 1s ease;
}

.large {
  width: 121px;
  height: 121px;
  background-color: var(--inner-circle-blue);
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60.5px 0px 0px -60.5px;
  transition: all 1s ease;
}

.largest {
  width: 162px;
  height: 162px;
  background-color: var(--inner-circle-blue);
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -81px 0px 0px -81px;
  transition: all 1s ease;
}

